<table id="applicants">
<thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Loan Amount</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let applicantDetails of applicantData"> 
        <td>{{ applicantDetails.name }}</td>
        <td>{{ applicantDetails.email }}</td>
        <td>{{ applicantDetails.phoneNumber }}</td>
        <td>{{ applicantDetails.loanAmount }}</td>
        <td>{{ applicantDetails.softDelete }}</td>
        <td>
            <tr>
                <a (click)="editApplicant(applicantDetails)" class="link">Edit</a>
            </tr>
            <tr>
                <a (click)="deleteApplicant(applicantDetails)" class="link">Delete</a>
            </tr>
            <tr>
                <a (click)="softDeleteApplicant(applicantDetails)" class="link">Soft Delete</a>
            </tr>
        </td>
    </tr>
</tbody>
</table>
<br>
<button type="button" class="btn btn-primary" (click)="newApplicant()">New Applicant</button>