@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap')

$Oswald: Oswald, sans-serif
$Lato: Lato, sans-serif

$color1: #2a23af
$color2: #1f30c3
$color3: #d1f34c
$color4: #b3d51d
$color5: #efc346